body{
	padding: 0;
	margin: 0;
}
nav{
	width:100%;
	height:auto;
}

nav ul{
	background-color: #666;
	padding: 0;
	margin: 0;
	text-align: center;
	height: 50px;
}

nav ul li{
	display: inline-block;
}

nav ul li a{
	color:white;
	text-decoration: none;
	padding:17px;
	line-height: 3;
}

nav ul li a:hover{
	color:black;
	background-color: white;
	border-radius: 3px;
}
